@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tab-border-color: lightblue; 
  --tab-background-color: rgb(65, 158, 187);
}

body {
  background-color: rgb(7, 7, 36);
  background-image: url('../../dist/img/background-stars.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; 
  width: 100%;
}

.tab-emphasis-border {
  border-bottom: 2px solid var(--tab-border-color, lightblue);
}

.tab-emphasis-background {
  background-color: var(--tab-background-color, rgb(65, 158, 187));
}